server:
  port: ${PORT:8092}
  forward-headers-strategy: framework

springdoc:
  swagger-ui:
    path: /docs

app:
  playwright:
    timeout-ms: ${APP_PLAYWRIGHT_TIMEOUT_MS:12000}
    navigation-timeout-ms: ${APP_PLAYWRIGHT_NAV_TIMEOUT_MS:12000}
    user-agent: ${APP_PLAYWRIGHT_USER_AGENT:Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/113.0.0.0 Safari/537.36}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
  health:
    probes:
      enabled: true
