name: ci

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        service:
          - services/api-gateway
          - services/quota-service

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: maven

      - name: mvn test (${{ matrix.service }})
        if: ${{ hashFiles(format('{0}/pom.xml', matrix.service)) != '' }}
        working-directory: ${{ matrix.service }}
        run: mvn -B -ntp test

      - name: docker build (${{ matrix.service }})
        if: ${{ hashFiles(format('{0}/Dockerfile', matrix.service)) != '' }}
        working-directory: ${{ matrix.service }}
        run: docker build -t apipratudo/${{ matrix.service }}:ci .
