name: release

on:
  push:
    tags:
      - 'api-gateway-v*'
      - 'quota-service-v*'

permissions:
  contents: write

jobs:
  release-api-gateway:
    runs-on: ubuntu-latest
    if: startsWith(github.ref_name, 'api-gateway-v')
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven
      - name: mvn package
        working-directory: services/api-gateway
        run: mvn -B -DskipTests package
      - name: create release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: services/api-gateway/target/*.jar
  release-quota-service:
    runs-on: ubuntu-latest
    if: startsWith(github.ref_name, 'quota-service-v')
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven
      - name: mvn package
        working-directory: services/quota-service
        run: mvn -B -DskipTests package
      - name: create release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: services/quota-service/target/*.jar
